#nan{
    color:#000;
}
#nv{
    color:#aaa;
}
#nan:visited,#nv:visited{
    color:#000;
}
#mul1,#mul2{
    display:flex;
    flex-direction:column;
    width:1200px;
    margin:0 auto;
    border:1px solid #aaa;
    padding:20px;
}
.item{
    display:flex;
    border-bottom:1px dotted #aaa;
}
.left{
    display:flex;
    width:48%;
    height:175px;
    margin-right:20px;
    padding:10px;
}
.info{
    display:flex;
    flex-direction:column;
}
.info-bq{
    display:flex;
    color:#999;
}
.right{
    display:flex;
    padding:10px;
    width:48%;
    height:175px;
}